.app-header {
background-color: #4CAF50; /* Green */
  border: none;
  color: rgb(114, 204, 30);
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}